:root {
  --bg-primary: #000000;
  --text-light: #ffffff;
  --title-primary-color: #f5f5f7;
  --subtitle-color: #6e6e73;
  --action-color: #2997ff;
}

header {
  background-color: var(--bg-primary);
  color: var(--text-light);
  height: fit-content;
  opacity: 0.9;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 12px 0;
}

header nav ul {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

header nav ul li {
    min-height: fit-content;
    height: fit-content;
    padding: 0 0.75rem;
    font-size: small;
    cursor: pointer;
    list-style: none;
}
